.menuitemdiv{
  padding: 9px;
  text-align: left;
  /* line-height: 0.1; */
  display: flex;
}

.tes{
  text-align: left;
  padding: 9px;
}

.dd{
  border: 1px solid black;
  border-radius: 22px;
  padding: 5px;
}