.menuitemdiv{
  padding: 9px;
  text-align: left;
  /* line-height: 0.1; */
  display: flex;
}

.tes{
  text-align: left;
  padding: 9px;
}

.dd{
  border: 1px solid black;
  border-radius: 22px;
  padding: 5px;
}
.dd:hover{
  background-color: rebeccapurple;
}


.pos{
  display: flex;
    justify-content: center;
}

button{
  background: none;
    border: transparent;
}

img:hover{
  background-color: rebeccapurple;
  border-radius: 20px;
}

span:hover{
  background-color: rebeccapurple;
  border-radius: 20px;
}
.btntroch img{
  width: 43px;

}